body {
 
    text-align: center;
    background-color: #afecda50;
    font-family: 'roboto';
    color:#3b3b3bff;
    max-width: 100%;
   

}


h1 {
   
    margin: 3.125rem auto 0 auto;
    font-family:'pacifico', serif;
    color:#3b3b3bff;
    max-width: 100%;
    font-size: 5.625rem;;
   

}

h2 {
    margin: 0 auto;
    font-family: 'Montserrat', serif;
    font-weight:1000;
    color: #083a42ff;
    max-width: 100%;
    font-size: 3.5rem;
    
}

p {
    font-family: 'roboto', serif;
    color:#3b3b3bff;
    max-width: 100%;
    font-size:1.5rem;
}



.profile h2 {
    font-size: 3.5rem;
}

.profile p {
    margin:1em 0 5em 0;
}

.middle-container h2 {
    line-height: 1;
}

.skills h2 {
    margin:1.25rem auto 1.25em auto;
}

.skills .skill-row h3 {
    margin: 2.5rem auto 1em auto;
    color: #083a42ff;
    font-size: 2.5rem;
}


.aTanJacket {
    width: 40rem;

}

.golfImageMainPage {
    margin:1rem 0 auto 0;
    width:30rem;
   
}


.chemistry {
    width: 30rem;
}

.electronics {
    width:30rem;
}


.newDay {
    width: 450px;
    margin:auto .9375rem auto 0;
   
}

.golfImageGolfPage {
    width: 1000px;
   
}

